[submodule "t_deps/modules/test-x1"]
	path = t_deps/modules/test-x1
	url = https://github.com/wakaba/perl-test-x1
	track = master
[submodule "t_deps/modules/rdb-utils"]
	path = t_deps/modules/rdb-utils
	url = https://github.com/wakaba/perl-rdb-utils
	track = master
[submodule "modules/promise"]
	path = modules/promise
	url = https://github.com/wakaba/perl-promise
	track = master
[submodule "t_deps/modules/promised-mysqld"]
	path = t_deps/modules/promised-mysqld
	url = https://github.com/wakaba/perl-promised-mysqld
	track = master
[submodule "t_deps/modules/promised-command"]
	path = t_deps/modules/promised-command
	url = https://github.com/wakaba/perl-promised-command
	track = master
[submodule "t_deps/modules/streams"]
	path = t_deps/modules/streams
	url = https://github.com/manakai/perl-streams
	track = master
[submodule "t_deps/modules/promised-file"]
	path = t_deps/modules/promised-file
	url = https://github.com/wakaba/perl-promised-file
	track = master
[submodule "t_deps/modules/web-encodings"]
	path = t_deps/modules/web-encodings
	url = https://github.com/manakai/perl-web-encodings
	track = master
